@font-face {
  font-family: 'sldsicon';
  src:  url('fonts/sldsicon.eot?gfarpb');
  src:  url('fonts/sldsicon.eot?gfarpb#iefix') format('embedded-opentype'),
    url('fonts/sldsicon.ttf?gfarpb') format('truetype'),
    url('fonts/sldsicon.woff?gfarpb') format('woff'),
    url('fonts/sldsicon.svg?gfarpb#sldsicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="slds-icon-"], [class*=" slds-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sldsicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slds-icon-activity:before {
  content: "\e900";
}
.slds-icon-ad_set:before {
  content: "\e901";
}
.slds-icon-add:before {
  content: "\e902";
}
.slds-icon-adduser:before {
  content: "\e903";
}
.slds-icon-anchor:before {
  content: "\e904";
}
.slds-icon-animal_and_nature:before {
  content: "\e905";
}
.slds-icon-announcement:before {
  content: "\e906";
}
.slds-icon-answer:before {
  content: "\e907";
}
.slds-icon-answered_twice:before {
  content: "\e908";
}
.slds-icon-apex:before {
  content: "\e909";
}
.slds-icon-approval:before {
  content: "\e90a";
}
.slds-icon-apps:before {
  content: "\e90b";
}
.slds-icon-arrowdown:before {
  content: "\e90c";
}
.slds-icon-arrowup:before {
  content: "\e90d";
}
.slds-icon-attach:before {
  content: "\e90e";
}
.slds-icon-automate:before {
  content: "\e90f";
}
.slds-icon-back:before {
  content: "\e910";
}
.slds-icon-ban:before {
  content: "\e911";
}
.slds-icon-block_visitor:before {
  content: "\e912";
}
.slds-icon-bold:before {
  content: "\e913";
}
.slds-icon-bookmark:before {
  content: "\e914";
}
.slds-icon-breadcrumbs:before {
  content: "\e915";
}
.slds-icon-broadcast:before {
  content: "\e916";
}
.slds-icon-brush:before {
  content: "\e917";
}
.slds-icon-bucket:before {
  content: "\e918";
}
.slds-icon-builder:before {
  content: "\e919";
}
.slds-icon-call:before {
  content: "\e91a";
}
.slds-icon-campaign:before {
  content: "\e91b";
}
.slds-icon-cancel_file_request:before {
  content: "\e91c";
}
.slds-icon-cancel_transfer:before {
  content: "\e91d";
}
.slds-icon-capslock:before {
  content: "\e91e";
}
.slds-icon-case:before {
  content: "\e91f";
}
.slds-icon-cases:before {
  content: "\e920";
}
.slds-icon-center_align_text:before {
  content: "\e921";
}
.slds-icon-change_owner:before {
  content: "\e922";
}
.slds-icon-change_record_type:before {
  content: "\e923";
}
.slds-icon-chart:before {
  content: "\e924";
}
.slds-icon-chat:before {
  content: "\e925";
}
.slds-icon-check:before {
  content: "\e926";
}
.slds-icon-checkin:before {
  content: "\e927";
}
.slds-icon-chevrondown:before {
  content: "\e928";
}
.slds-icon-chevronleft:before {
  content: "\e929";
}
.slds-icon-chevronright:before {
  content: "\e92a";
}
.slds-icon-chevronup:before {
  content: "\e92b";
}
.slds-icon-classic_interface:before {
  content: "\e92c";
}
.slds-icon-clear:before {
  content: "\e92d";
}
.slds-icon-clock:before {
  content: "\e92e";
}
.slds-icon-close:before {
  content: "\e92f";
}
.slds-icon-collapse_all:before {
  content: "\e930";
}
.slds-icon-color_swatch:before {
  content: "\e931";
}
.slds-icon-comments:before {
  content: "\e932";
}
.slds-icon-company:before {
  content: "\e933";
}
.slds-icon-connected_apps:before {
  content: "\e934";
}
.slds-icon-contact_request:before {
  content: "\e935";
}
.slds-icon-contract_alt:before {
  content: "\e936";
}
.slds-icon-contract:before {
  content: "\e937";
}
.slds-icon-copy_to_clipboard:before {
  content: "\e938";
}
.slds-icon-copy:before {
  content: "\e939";
}
.slds-icon-crossfilter:before {
  content: "\e93a";
}
.slds-icon-custom_apps:before {
  content: "\e93b";
}
.slds-icon-cut:before {
  content: "\e93c";
}
.slds-icon-dash:before {
  content: "\e93d";
}
.slds-icon-database:before {
  content: "\e93e";
}
.slds-icon-datadotcom:before {
  content: "\e93f";
}
.slds-icon-dayview:before {
  content: "\e940";
}
.slds-icon-delete:before {
  content: "\e941";
}
.slds-icon-deprecate:before {
  content: "\e942";
}
.slds-icon-description:before {
  content: "\e943";
}
.slds-icon-desktop_console:before {
  content: "\e944";
}
.slds-icon-desktop:before {
  content: "\e945";
}
.slds-icon-dialing:before {
  content: "\e946";
}
.slds-icon-dislike:before {
  content: "\e947";
}
.slds-icon-dock_panel:before {
  content: "\e948";
}
.slds-icon-down:before {
  content: "\e949";
}
.slds-icon-download:before {
  content: "\e94a";
}
.slds-icon-drag:before {
  content: "\e94b";
}
.slds-icon-edit_form:before {
  content: "\e94c";
}
.slds-icon-edit:before {
  content: "\e94d";
}
.slds-icon-einstein:before {
  content: "\e94e";
}
.slds-icon-email:before {
  content: "\e94f";
}
.slds-icon-emoji:before {
  content: "\e950";
}
.slds-icon-end_call:before {
  content: "\e951";
}
.slds-icon-end_chat:before {
  content: "\e952";
}
.slds-icon-end_messaging_session:before {
  content: "\e953";
}
.slds-icon-erect_window:before {
  content: "\e954";
}
.slds-icon-error:before {
  content: "\e955";
}
.slds-icon-event:before {
  content: "\e956";
}
.slds-icon-expand_all:before {
  content: "\e957";
}
.slds-icon-expand_alt:before {
  content: "\e958";
}
.slds-icon-expand:before {
  content: "\e959";
}
.slds-icon-fallback:before {
  content: "\e95a";
}
.slds-icon-favorite:before {
  content: "\e95b";
}
.slds-icon-feed:before {
  content: "\e95c";
}
.slds-icon-file:before {
  content: "\e95d";
}
.slds-icon-filter:before {
  content: "\e95e";
}
.slds-icon-filterList:before {
  content: "\e95f";
}
.slds-icon-flow:before {
  content: "\e960";
}
.slds-icon-food_and_drink:before {
  content: "\e961";
}
.slds-icon-forward:before {
  content: "\e962";
}
.slds-icon-frozen:before {
  content: "\e963";
}
.slds-icon-full_width_view:before {
  content: "\e964";
}
.slds-icon-graph:before {
  content: "\e965";
}
.slds-icon-groups:before {
  content: "\e966";
}
.slds-icon-help:before {
  content: "\e967";
}
.slds-icon-hide:before {
  content: "\e968";
}
.slds-icon-hierarchy:before {
  content: "\e969";
}
.slds-icon-home:before {
  content: "\e96a";
}
.slds-icon-identity:before {
  content: "\e96b";
}
.slds-icon-image:before {
  content: "\e96c";
}
.slds-icon-inbox:before {
  content: "\e96d";
}
.slds-icon-incoming_call:before {
  content: "\e96e";
}
.slds-icon-info_alt:before {
  content: "\e96f";
}
.slds-icon-info:before {
  content: "\e970";
}
.slds-icon-insert_tag_field:before {
  content: "\e971";
}
.slds-icon-insert_template:before {
  content: "\e972";
}
.slds-icon-internal_share:before {
  content: "\e973";
}
.slds-icon-italic:before {
  content: "\e974";
}
.slds-icon-jump_to_bottom:before {
  content: "\e975";
}
.slds-icon-jump_to_top:before {
  content: "\e976";
}
.slds-icon-justify_text:before {
  content: "\e977";
}
.slds-icon-kanban:before {
  content: "\e978";
}
.slds-icon-keyboard_dismiss:before {
  content: "\e979";
}
.slds-icon-knowledge_base:before {
  content: "\e97a";
}
.slds-icon-layers:before {
  content: "\e97b";
}
.slds-icon-layout:before {
  content: "\e97c";
}
.slds-icon-left_align_text:before {
  content: "\e97d";
}
.slds-icon-left:before {
  content: "\e97e";
}
.slds-icon-level_down:before {
  content: "\e97f";
}
.slds-icon-level_up:before {
  content: "\e980";
}
.slds-icon-light_bulb:before {
  content: "\e981";
}
.slds-icon-like:before {
  content: "\e982";
}
.slds-icon-link:before {
  content: "\e983";
}
.slds-icon-list:before {
  content: "\e984";
}
.slds-icon-listen:before {
  content: "\e985";
}
.slds-icon-location:before {
  content: "\e986";
}
.slds-icon-lock:before {
  content: "\e987";
}
.slds-icon-log_a_call:before {
  content: "\e988";
}
.slds-icon-logout:before {
  content: "\e989";
}
.slds-icon-lower_flag:before {
  content: "\e98a";
}
.slds-icon-macros:before {
  content: "\e98b";
}
.slds-icon-magicwand:before {
  content: "\e98c";
}
.slds-icon-mark_all_as_read:before {
  content: "\e98d";
}
.slds-icon-matrix:before {
  content: "\e98e";
}
.slds-icon-merge_field:before {
  content: "\e98f";
}
.slds-icon-merge:before {
  content: "\e990";
}
.slds-icon-metrics:before {
  content: "\e991";
}
.slds-icon-minimize_window:before {
  content: "\e992";
}
.slds-icon-missed_call:before {
  content: "\e993";
}
.slds-icon-moneybag:before {
  content: "\e994";
}
.slds-icon-monthlyview:before {
  content: "\e995";
}
.slds-icon-move:before {
  content: "\e996";
}
.slds-icon-muted:before {
  content: "\e997";
}
.slds-icon-new_direct_message:before {
  content: "\e998";
}
.slds-icon-new_window:before {
  content: "\e999";
}
.slds-icon-new:before {
  content: "\e99a";
}
.slds-icon-news:before {
  content: "\e99b";
}
.slds-icon-note:before {
  content: "\e99c";
}
.slds-icon-notebook:before {
  content: "\e99d";
}
.slds-icon-notification:before {
  content: "\e99e";
}
.slds-icon-office365:before {
  content: "\e99f";
}
.slds-icon-offline_cached:before {
  content: "\e9a0";
}
.slds-icon-offline:before {
  content: "\e9a1";
}
.slds-icon-omni_channel:before {
  content: "\e9a2";
}
.slds-icon-open_folder:before {
  content: "\e9a3";
}
.slds-icon-open:before {
  content: "\e9a4";
}
.slds-icon-opened_folder:before {
  content: "\e9a5";
}
.slds-icon-outbound_call:before {
  content: "\e9a6";
}
.slds-icon-overflow:before {
  content: "\e9a7";
}
.slds-icon-package_org_beta:before {
  content: "\e9a8";
}
.slds-icon-package_org:before {
  content: "\e9a9";
}
.slds-icon-package:before {
  content: "\e9aa";
}
.slds-icon-page:before {
  content: "\e9ab";
}
.slds-icon-palette:before {
  content: "\e9ac";
}
.slds-icon-paste:before {
  content: "\e9ad";
}
.slds-icon-pause:before {
  content: "\e9ae";
}
.slds-icon-people:before {
  content: "\e9af";
}
.slds-icon-phone_landscape:before {
  content: "\e9b0";
}
.slds-icon-phone_portrait:before {
  content: "\e9b1";
}
.slds-icon-photo:before {
  content: "\e9b2";
}
.slds-icon-picklist:before {
  content: "\e9b3";
}
.slds-icon-pin:before {
  content: "\e9b4";
}
.slds-icon-pinned:before {
  content: "\e9b5";
}
.slds-icon-play:before {
  content: "\e9b6";
}
.slds-icon-power:before {
  content: "\e9b7";
}
.slds-icon-preview:before {
  content: "\e9b8";
}
.slds-icon-priority:before {
  content: "\e9b9";
}
.slds-icon-privately_shared:before {
  content: "\e9ba";
}
.slds-icon-process:before {
  content: "\e9bb";
}
.slds-icon-push:before {
  content: "\e9bc";
}
.slds-icon-puzzle:before {
  content: "\e9bd";
}
.slds-icon-question_mark:before {
  content: "\e9be";
}
.slds-icon-question:before {
  content: "\e9bf";
}
.slds-icon-questions_and_answers:before {
  content: "\e9c0";
}
.slds-icon-quick_text:before {
  content: "\e9c1";
}
.slds-icon-quotation_marks:before {
  content: "\e9c2";
}
.slds-icon-rating:before {
  content: "\e9c4";
}
.slds-icon-record_create:before {
  content: "\e9c5";
}
.slds-icon-record:before {
  content: "\e9c6";
}
.slds-icon-recurring_exception:before {
  content: "\e9c7";
}
.slds-icon-redo:before {
  content: "\e9c8";
}
.slds-icon-refresh:before {
  content: "\e9c9";
}
.slds-icon-relate:before {
  content: "\e9ca";
}
.slds-icon-reminder:before {
  content: "\e9cb";
}
.slds-icon-remove_formatting:before {
  content: "\e9cc";
}
.slds-icon-remove_link:before {
  content: "\e9cd";
}
.slds-icon-replace:before {
  content: "\e9ce";
}
.slds-icon-reply_all:before {
  content: "\e9cf";
}
.slds-icon-reply:before {
  content: "\e9d0";
}
.slds-icon-reset_password:before {
  content: "\e9d1";
}
.slds-icon-resource_absence:before {
  content: "\e9d2";
}
.slds-icon-resource_capacity:before {
  content: "\e9d3";
}
.slds-icon-resource_territory:before {
  content: "\e9d4";
}
.slds-icon-retweet:before {
  content: "\e9d5";
}
.slds-icon-richtextbulletedlist:before {
  content: "\e9d6";
}
.slds-icon-richtextindent:before {
  content: "\e9d7";
}
.slds-icon-richtextnumberedlist:before {
  content: "\e9d8";
}
.slds-icon-richtextoutdent:before {
  content: "\e9d9";
}
.slds-icon-right_align_text:before {
  content: "\e9da";
}
.slds-icon-right:before {
  content: "\e9db";
}
.slds-icon-rotate:before {
  content: "\e9dc";
}
.slds-icon-rows:before {
  content: "\e9dd";
}
.slds-icon-rules:before {
  content: "\e9de";
}
.slds-icon-salesforce1:before {
  content: "\e9df";
}
.slds-icon-save:before {
  content: "\e9e0";
}
.slds-icon-search:before {
  content: "\e9e1";
}
.slds-icon-sentiment_negative:before {
  content: "\e9e2";
}
.slds-icon-sentiment_neutral:before {
  content: "\e9e3";
}
.slds-icon-settings:before {
  content: "\e9e4";
}
.slds-icon-setup_assistant_guide:before {
  content: "\e9e5";
}
.slds-icon-setup:before {
  content: "\e9e6";
}
.slds-icon-share_file:before {
  content: "\e9e7";
}
.slds-icon-share_mobile:before {
  content: "\e9e8";
}
.slds-icon-share_post:before {
  content: "\e9e9";
}
.slds-icon-share:before {
  content: "\e9ea";
}
.slds-icon-shield:before {
  content: "\e9eb";
}
.slds-icon-shopping_bag:before {
  content: "\e9ec";
}
.slds-icon-side_list:before {
  content: "\e9ed";
}
.slds-icon-signpost:before {
  content: "\e9ee";
}
.slds-icon-smiley_and_people:before {
  content: "\e9ef";
}
.slds-icon-sms:before {
  content: "\e9f0";
}
.slds-icon-snippet:before {
  content: "\e9f1";
}
.slds-icon-socialshare:before {
  content: "\e9f2";
}
.slds-icon-sort:before {
  content: "\e9f3";
}
.slds-icon-spinner:before {
  content: "\e9f4";
}
.slds-icon-stage_collection:before {
  content: "\e9f5";
}
.slds-icon-stage:before {
  content: "\e9f6";
}
.slds-icon-standard_objects:before {
  content: "\e9f7";
}
.slds-icon-stop:before {
  content: "\e9f8";
}
.slds-icon-strikethrough:before {
  content: "\e9f9";
}
.slds-icon-success:before {
  content: "\e9fa";
}
.slds-icon-summary:before {
  content: "\e9fb";
}
.slds-icon-summarydetail:before {
  content: "\e9fc";
}
.slds-icon-survey:before {
  content: "\e9fd";
}
.slds-icon-switch:before {
  content: "\e9fe";
}
.slds-icon-symbols:before {
  content: "\e9ff";
}
.slds-icon-sync:before {
  content: "\ea00";
}
.slds-icon-table:before {
  content: "\ea01";
}
.slds-icon-tablet_landscape:before {
  content: "\ea02";
}
.slds-icon-tablet_portrait:before {
  content: "\ea03";
}
.slds-icon-tabset:before {
  content: "\ea04";
}
.slds-icon-task:before {
  content: "\ea05";
}
.slds-icon-text_background_color:before {
  content: "\ea06";
}
.slds-icon-text_color:before {
  content: "\ea07";
}
.slds-icon-threedots_vertical:before {
  content: "\ea08";
}
.slds-icon-threedots:before {
  content: "\ea09";
}
.slds-icon-thunder:before {
  content: "\ea0a";
}
.slds-icon-tile_card_list:before {
  content: "\ea0b";
}
.slds-icon-topic:before {
  content: "\ea0c";
}
.slds-icon-topic2:before {
  content: "\ea0d";
}
.slds-icon-touch_action:before {
  content: "\ea0e";
}
.slds-icon-tracker:before {
  content: "\ea0f";
}
.slds-icon-trail:before {
  content: "\ea10";
}
.slds-icon-travel_and_places:before {
  content: "\ea11";
}
.slds-icon-trending:before {
  content: "\ea12";
}
.slds-icon-turn_off_notifications:before {
  content: "\ea13";
}
.slds-icon-type_tool:before {
  content: "\ea14";
}
.slds-icon-type:before {
  content: "\ea15";
}
.slds-icon-undelete:before {
  content: "\ea16";
}
.slds-icon-undeprecate:before {
  content: "\ea17";
}
.slds-icon-underline:before {
  content: "\ea18";
}
.slds-icon-undo:before {
  content: "\ea19";
}
.slds-icon-unlock:before {
  content: "\ea1a";
}
.slds-icon-unmuted:before {
  content: "\ea1b";
}
.slds-icon-up:before {
  content: "\ea1c";
}
.slds-icon-upload:before {
  content: "\ea1d";
}
.slds-icon-user_role:before {
  content: "\ea1e";
}
.slds-icon-user:before {
  content: "\ea1f";
}
.slds-icon-video:before {
  content: "\ea20";
}
.slds-icon-voicemail_drop:before {
  content: "\ea21";
}
.slds-icon-volume_high:before {
  content: "\ea22";
}
.slds-icon-volume_low:before {
  content: "\ea23";
}
.slds-icon-volume_off:before {
  content: "\ea24";
}
.slds-icon-warning:before {
  content: "\ea25";
}
.slds-icon-weeklyview:before {
  content: "\ea26";
}
.slds-icon-wifi:before {
  content: "\ea27";
}
.slds-icon-work_order_type:before {
  content: "\ea28";
}
.slds-icon-world:before {
  content: "\ea29";
}
.slds-icon-yubi_key:before {
  content: "\ea2a";
}
.slds-icon-zoomin:before {
  content: "\ea2b";
}
.slds-icon-zoomout:before {
  content: "\ea2c";
}
.slds-icon-account:before {
  content: "\eae4";
}
.slds-icon-action_list_component:before {
  content: "\eae5";
}
.slds-icon-address:before {
  content: "\eae6";
}
.slds-icon-announcement2:before {
  content: "\eae7";
}
.slds-icon-answer_best:before {
  content: "\eae8";
}
.slds-icon-answer_private:before {
  content: "\eaea";
}
.slds-icon-answer_public:before {
  content: "\eaed";
}
.slds-icon-approval2:before {
  content: "\eaee";
}
.slds-icon-apps_admin:before {
  content: "\eaef";
}
.slds-icon-apps2:before {
  content: "\eaf0";
}
.slds-icon-article:before {
  content: "\eaf1";
}
.slds-icon-asset_relationship:before {
  content: "\eaf2";
}
.slds-icon-assigned_resource:before {
  content: "\eaf3";
}
.slds-icon-avatar_loading:before {
  content: "\eaf4";
}
.slds-icon-avatar:before {
  content: "\eaf5";
}
.slds-icon-bot:before {
  content: "\eaf6";
}
.slds-icon-business_hours:before {
  content: "\eaf7";
}
.slds-icon-calibration:before {
  content: "\eaf8";
}
.slds-icon-call_history:before {
  content: "\eaf9";
}
.slds-icon-call2:before {
  content: "\eafa";
}
.slds-icon-campaign_members:before {
  content: "\eafb";
}
.slds-icon-campaign2:before {
  content: "\eafd";
}
.slds-icon-canvas:before {
  content: "\eafe";
}
.slds-icon-carousel:before {
  content: "\eaff";
}
.slds-icon-case_change_status:before {
  content: "\eb00";
}
.slds-icon-case_comment:before {
  content: "\eb01";
}
.slds-icon-case_email:before {
  content: "\eb02";
}
.slds-icon-case_log_a_call:before {
  content: "\eb03";
}
.slds-icon-case_milestone:before {
  content: "\eb04";
}
.slds-icon-case_transcript:before {
  content: "\eb05";
}
.slds-icon-case2:before {
  content: "\eb06";
}
.slds-icon-channel_program_history:before {
  content: "\eb07";
}
.slds-icon-channel_program_levels:before {
  content: "\eb08";
}
.slds-icon-channel_program_members:before {
  content: "\eb09";
}
.slds-icon-channel_programs:before {
  content: "\eb0a";
}
.slds-icon-client:before {
  content: "\eb0b";
}
.slds-icon-cms:before {
  content: "\eb0c";
}
.slds-icon-coaching:before {
  content: "\eb0d";
}
.slds-icon-connected_apps2:before {
  content: "\eb0e";
}
.slds-icon-contact_list:before {
  content: "\eb0f";
}
.slds-icon-contact_request2:before {
  content: "\eb10";
}
.slds-icon-contact:before {
  content: "\eb11";
}
.slds-icon-contract_line_item:before {
  content: "\eb12";
}
.slds-icon-contract2:before {
  content: "\eb13";
}
.slds-icon-custom_notification:before {
  content: "\eb14";
}
.slds-icon-custom:before {
  content: "\eb15";
}
.slds-icon-customers:before {
  content: "\eb16";
}
.slds-icon-dashboard:before {
  content: "\eb17";
}
.slds-icon-data_integration_hub:before {
  content: "\eb18";
}
.slds-icon-datadotcom2:before {
  content: "\eb19";
}
.slds-icon-default:before {
  content: "\eb1a";
}
.slds-icon-document:before {
  content: "\eb1b";
}
.slds-icon-drafts:before {
  content: "\eb1c";
}
.slds-icon-email_chatter:before {
  content: "\eb1d";
}
.slds-icon-email2:before {
  content: "\eb1e";
}
.slds-icon-empty:before {
  content: "\eb1f";
}
.slds-icon-endorsement:before {
  content: "\eb20";
}
.slds-icon-entitlement_process:before {
  content: "\eb21";
}
.slds-icon-entitlement_template:before {
  content: "\eb22";
}
.slds-icon-entitlement:before {
  content: "\eb23";
}
.slds-icon-entity_milestone:before {
  content: "\eb24";
}
.slds-icon-entity:before {
  content: "\eb25";
}
.slds-icon-environment_hub:before {
  content: "\eb26";
}
.slds-icon-event2:before {
  content: "\eb27";
}
.slds-icon-feed2:before {
  content: "\eb28";
}
.slds-icon-feedback:before {
  content: "\eb29";
}
.slds-icon-file2:before {
  content: "\eb2a";
}
.slds-icon-flow2:before {
  content: "\eb2b";
}
.slds-icon-folder:before {
  content: "\eb2c";
}
.slds-icon-forecasts:before {
  content: "\eb2d";
}
.slds-icon-generic_loading:before {
  content: "\eb2e";
}
.slds-icon-goals:before {
  content: "\eb2f";
}
.slds-icon-group_loading:before {
  content: "\eb30";
}
.slds-icon-groups2:before {
  content: "\eb31";
}
.slds-icon-hierarchy2:before {
  content: "\eb32";
}
.slds-icon-home2:before {
  content: "\eb33";
}
.slds-icon-household:before {
  content: "\eb34";
}
.slds-icon-individual:before {
  content: "\eb35";
}
.slds-icon-insights:before {
  content: "\eb36";
}
.slds-icon-investment_account:before {
  content: "\eb37";
}
.slds-icon-iot_orchestrations:before {
  content: "\eb38";
}
.slds-icon-knowledge:before {
  content: "\eb39";
}
.slds-icon-lead_insights:before {
  content: "\eb3a";
}
.slds-icon-lead_list:before {
  content: "\eb3b";
}
.slds-icon-lead:before {
  content: "\eb3c";
}
.slds-icon-link2:before {
  content: "\eb3d";
}
.slds-icon-list_email:before {
  content: "\eb3e";
}
.slds-icon-live_chat_visitor:before {
  content: "\eb3f";
}
.slds-icon-live_chat:before {
  content: "\eb40";
}
.slds-icon-location2:before {
  content: "\eb41";
}
.slds-icon-log_a_call2:before {
  content: "\eb42";
}
.slds-icon-logging:before {
  content: "\eb43";
}
.slds-icon-macros2:before {
  content: "\eb44";
}
.slds-icon-maintenance_asset:before {
  content: "\eb45";
}
.slds-icon-maintenance_plan:before {
  content: "\eb46";
}
.slds-icon-marketing_actions:before {
  content: "\eb47";
}
.slds-icon-merge2:before {
  content: "\eb48";
}
.slds-icon-messaging_conversation:before {
  content: "\eb49";
}
.slds-icon-messaging_session:before {
  content: "\eb4a";
}
.slds-icon-messaging_user:before {
  content: "\eb4b";
}
.slds-icon-metrics2:before {
  content: "\eb4c";
}
.slds-icon-news2:before {
  content: "\eb4d";
}
.slds-icon-note2:before {
  content: "\eb4e";
}
.slds-icon-omni_supervisor:before {
  content: "\eb4f";
}
.slds-icon-operating_hours:before {
  content: "\eb50";
}
.slds-icon-opportunity_splits:before {
  content: "\eb51";
}
.slds-icon-opportunity:before {
  content: "\eb52";
}
.slds-icon-orders:before {
  content: "\eb53";
}
.slds-icon-partner_fund_allocation:before {
  content: "\eb54";
}
.slds-icon-partner_fund_claim:before {
  content: "\eb55";
}
.slds-icon-partner_fund_request:before {
  content: "\eb56";
}
.slds-icon-partner_marketing_budget:before {
  content: "\eb57";
}
.slds-icon-partners:before {
  content: "\eb58";
}
.slds-icon-past_chat:before {
  content: "\eb59";
}
.slds-icon-people2:before {
  content: "\eb5a";
}
.slds-icon-performance:before {
  content: "\eb5b";
}
.slds-icon-person_account:before {
  content: "\eb5c";
}
.slds-icon-photo2:before {
  content: "\eb5d";
}
.slds-icon-poll:before {
  content: "\eb5e";
}
.slds-icon-portal:before {
  content: "\eb5f";
}
.slds-icon-post:before {
  content: "\eb60";
}
.slds-icon-pricebook:before {
  content: "\eb61";
}
.slds-icon-process2:before {
  content: "\eb62";
}
.slds-icon-product_consumed:before {
  content: "\eb63";
}
.slds-icon-product_item_transaction:before {
  content: "\eb64";
}
.slds-icon-product_item:before {
  content: "\eb65";
}
.slds-icon-product_request_line_item:before {
  content: "\eb66";
}
.slds-icon-product_request:before {
  content: "\eb67";
}
.slds-icon-product_required:before {
  content: "\eb68";
}
.slds-icon-product_transfer:before {
  content: "\eb69";
}
.slds-icon-product:before {
  content: "\eb6a";
}
.slds-icon-proposition:before {
  content: "\eb6b";
}
.slds-icon-question_best:before {
  content: "\eb6c";
}
.slds-icon-question_feed:before {
  content: "\eb6e";
}
.slds-icon-quick_text2:before {
  content: "\eb6f";
}
.slds-icon-quip_sheet:before {
  content: "\eb70";
}
.slds-icon-quip:before {
  content: "\eb71";
}
.slds-icon-quotes:before {
  content: "\eb72";
}
.slds-icon-read_receipts:before {
  content: "\eb73";
}
.slds-icon-recent:before {
  content: "\eb74";
}
.slds-icon-record2:before {
  content: "\eb75";
}
.slds-icon-related_list:before {
  content: "\eb76";
}
.slds-icon-relationship:before {
  content: "\eb77";
}
.slds-icon-report:before {
  content: "\eb78";
}
.slds-icon-resource_absence2:before {
  content: "\eb79";
}
.slds-icon-resource_capacity2:before {
  content: "\eb7a";
}
.slds-icon-resource_preference:before {
  content: "\eb7b";
}
.slds-icon-resource_skill:before {
  content: "\eb7c";
}
.slds-icon-return_order_line_item:before {
  content: "\eb7d";
}
.slds-icon-return_order:before {
  content: "\eb7e";
}
.slds-icon-reward:before {
  content: "\eb7f";
}
.slds-icon-rtc_presence:before {
  content: "\eb80";
}
.slds-icon-sales_path:before {
  content: "\eb81";
}
.slds-icon-scan_card:before {
  content: "\eb82";
}
.slds-icon-search2:before {
  content: "\eb83";
}
.slds-icon-service_appointment:before {
  content: "\eb84";
}
.slds-icon-service_contract:before {
  content: "\eb85";
}
.slds-icon-service_crew_member:before {
  content: "\eb86";
}
.slds-icon-service_crew:before {
  content: "\eb87";
}
.slds-icon-service_report:before {
  content: "\eb88";
}
.slds-icon-service_resource:before {
  content: "\eb89";
}
.slds-icon-service_territory_location:before {
  content: "\eb8a";
}
.slds-icon-service_territory_member:before {
  content: "\eb8b";
}
.slds-icon-service_territory:before {
  content: "\eb8c";
}
.slds-icon-shipment:before {
  content: "\eb8d";
}
.slds-icon-skill_entity:before {
  content: "\eb8e";
}
.slds-icon-skill_requirement:before {
  content: "\eb8f";
}
.slds-icon-skill:before {
  content: "\eb90";
}
.slds-icon-social:before {
  content: "\eb91";
}
.slds-icon-solution:before {
  content: "\eb92";
}
.slds-icon-sossession:before {
  content: "\eb93";
}
.slds-icon-stage_collection2:before {
  content: "\eb94";
}
.slds-icon-stage2:before {
  content: "\eb95";
}
.slds-icon-strategy:before {
  content: "\eb96";
}
.slds-icon-survey2:before {
  content: "\eb97";
}
.slds-icon-task2:before {
  content: "\eb98";
}
.slds-icon-task22:before {
  content: "\eb99";
}
.slds-icon-team_member:before {
  content: "\eb9a";
}
.slds-icon-template:before {
  content: "\eb9b";
}
.slds-icon-thanks_loading:before {
  content: "\eb9c";
}
.slds-icon-thanks:before {
  content: "\eb9d";
}
.slds-icon-timesheet_entry:before {
  content: "\eb9e";
}
.slds-icon-timesheet:before {
  content: "\eb9f";
}
.slds-icon-timeslot:before {
  content: "\eba0";
}
.slds-icon-today:before {
  content: "\eba1";
}
.slds-icon-topic3:before {
  content: "\eba2";
}
.slds-icon-topic22:before {
  content: "\eba3";
}
.slds-icon-unmatched:before {
  content: "\eba4";
}
.slds-icon-user2:before {
  content: "\eba5";
}
.slds-icon-work_order_item:before {
  content: "\eba6";
}
.slds-icon-work_order:before {
  content: "\eba7";
}
.slds-icon-work_type:before {
  content: "\eba8";
}
.slds-icon-ai .path1:before {
  content: "\eba9";
  color: rgb(255, 195, 94);
}
.slds-icon-ai .path2:before {
  content: "\ebaa";
  margin-left: -0.875em;
  color: rgb(255, 180, 70);
}
.slds-icon-ai .path3:before {
  content: "\ebab";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-ai .path4:before {
  content: "\ebac";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-attachment .path1:before {
  content: "\ebad";
  color: rgb(129, 153, 175);
}
.slds-icon-attachment .path2:before {
  content: "\ebae";
  margin-left: -0.875em;
  color: rgb(97, 127, 155);
}
.slds-icon-attachment .path3:before {
  content: "\ebaf";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-attachment .path4:before {
  content: "\ebb0";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-audio .path1:before {
  content: "\ebb1";
  color: rgb(55, 159, 211);
}
.slds-icon-audio .path2:before {
  content: "\ebb2";
  margin-left: -0.875em;
  color: rgb(41, 135, 200);
}
.slds-icon-audio .path3:before {
  content: "\ebb3";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-audio .path4:before {
  content: "\ebb4";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-box_notes .path1:before {
  content: "\ebb5";
  color: rgb(39, 122, 132);
}
.slds-icon-box_notes .path2:before {
  content: "\ebb6";
  margin-left: -0.875em;
  color: rgb(30, 91, 96);
}
.slds-icon-box_notes .path3:before {
  content: "\ebb7";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-box_notes .path4:before {
  content: "\ebb8";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-csv .path1:before {
  content: "\ebb9";
  color: rgb(69, 176, 88);
}
.slds-icon-csv .path2:before {
  content: "\ebba";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-csv .path3:before {
  content: "\ebbb";
  margin-left: -0.875em;
  color: rgb(52, 156, 66);
}
.slds-icon-csv .path4:before {
  content: "\ebbc";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-eps .path1:before {
  content: "\ebbd";
  color: rgb(255, 195, 94);
}
.slds-icon-eps .path2:before {
  content: "\ebbe";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-eps .path3:before {
  content: "\ebbf";
  margin-left: -0.875em;
  color: rgb(255, 180, 70);
}
.slds-icon-eps .path4:before {
  content: "\ebc0";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-excel .path1:before {
  content: "\ebc1";
  color: rgb(69, 176, 88);
}
.slds-icon-excel .path2:before {
  content: "\ebc2";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-excel .path3:before {
  content: "\ebc3";
  margin-left: -0.875em;
  color: rgb(52, 156, 66);
}
.slds-icon-excel .path4:before {
  content: "\ebc4";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-exe .path1:before {
  content: "\ebc5";
  color: rgb(129, 153, 175);
}
.slds-icon-exe .path2:before {
  content: "\ebc6";
  margin-left: -0.875em;
  color: rgb(97, 127, 155);
}
.slds-icon-exe .path3:before {
  content: "\ebc7";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-exe .path4:before {
  content: "\ebc8";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-flash .path1:before {
  content: "\ebc9";
  color: rgb(229, 60, 60);
}
.slds-icon-flash .path2:before {
  content: "\ebca";
  margin-left: -0.875em;
  color: rgb(222, 45, 45);
}
.slds-icon-flash .path3:before {
  content: "\ebcb";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-flash .path4:before {
  content: "\ebcc";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-folder2 .path1:before {
  content: "\ebcd";
  color: rgb(0, 52, 98);
}
.slds-icon-folder2 .path2:before {
  content: "\ebce";
  margin-left: -0.875em;
  color: rgb(135, 200, 242);
}
.slds-icon-folder2 .path3:before {
  content: "\ebcf";
  margin-left: -0.875em;
  color: rgb(0, 161, 224);
}
.slds-icon-gdoc .path1:before {
  content: "\ebd0";
  color: rgb(60, 140, 234);
}
.slds-icon-gdoc .path2:before {
  content: "\ebd1";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-gdoc .path3:before {
  content: "\ebd2";
  margin-left: -0.875em;
  color: rgb(45, 111, 228);
}
.slds-icon-gdoc .path4:before {
  content: "\ebd3";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-gdocs .path1:before {
  content: "\ebd4";
  color: rgb(60, 140, 234);
}
.slds-icon-gdocs .path2:before {
  content: "\ebd5";
  margin-left: -0.875em;
  color: rgb(45, 111, 228);
}
.slds-icon-gdocs .path3:before {
  content: "\ebd6";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-gdocs .path4:before {
  content: "\ebd7";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-gform .path1:before {
  content: "\ebd8";
  color: rgb(103, 58, 183);
}
.slds-icon-gform .path2:before {
  content: "\ebd9";
  margin-left: -0.875em;
  color: rgb(69, 49, 124);
}
.slds-icon-gform .path3:before {
  content: "\ebda";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-gform .path4:before {
  content: "\ebdb";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-gpres .path1:before {
  content: "\ebdc";
  color: rgb(248, 190, 70);
}
.slds-icon-gpres .path2:before {
  content: "\ebdd";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-gpres .path3:before {
  content: "\ebde";
  margin-left: -0.875em;
  color: rgb(246, 173, 52);
}
.slds-icon-gpres .path4:before {
  content: "\ebdf";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-gsheet .path1:before {
  content: "\ebe0";
  color: rgb(32, 169, 113);
}
.slds-icon-gsheet .path2:before {
  content: "\ebe1";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-gsheet .path3:before {
  content: "\ebe2";
  margin-left: -0.875em;
  color: rgb(24, 147, 85);
}
.slds-icon-gsheet .path4:before {
  content: "\ebe3";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-html .path1:before {
  content: "\ebe4";
  color: rgb(247, 98, 44);
}
.slds-icon-html .path2:before {
  content: "\ebe5";
  margin-left: -0.875em;
  color: rgb(245, 73, 33);
}
.slds-icon-html .path3:before {
  content: "\ebe6";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-html .path4:before {
  content: "\ebe7";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-image2 .path1:before {
  content: "\ebe8";
  color: rgb(73, 201, 167);
}
.slds-icon-image2 .path2:before {
  content: "\ebe9";
  margin-left: -0.875em;
  color: rgb(55, 187, 145);
}
.slds-icon-image2 .path3:before {
  content: "\ebea";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-image2 .path4:before {
  content: "\ebeb";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-keynote .path1:before {
  content: "\ebec";
  color: rgb(219, 122, 42);
}
.slds-icon-keynote .path2:before {
  content: "\ebed";
  margin-left: -0.875em;
  color: rgb(210, 91, 31);
}
.slds-icon-keynote .path3:before {
  content: "\ebee";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-keynote .path4:before {
  content: "\ebef";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-library_folder .path1:before {
  content: "\ebf0";
  color: rgb(0, 52, 98);
}
.slds-icon-library_folder .path2:before {
  content: "\ebf1";
  margin-left: -0.875em;
  color: rgb(135, 200, 242);
}
.slds-icon-library_folder .path3:before {
  content: "\ebf2";
  margin-left: -0.875em;
  color: rgb(0, 161, 224);
}
.slds-icon-library_folder .path4:before {
  content: "\ebf3";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-link3 .path1:before {
  content: "\ebf4";
  color: rgb(12, 143, 232);
}
.slds-icon-link3 .path2:before {
  content: "\ebf5";
  margin-left: -0.875em;
  color: rgb(9, 115, 226);
}
.slds-icon-link3 .path3:before {
  content: "\ebf6";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-link3 .path4:before {
  content: "\ebf7";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-mp4 .path1:before {
  content: "\ebf8";
  color: rgb(155, 100, 178);
}
.slds-icon-mp4 .path2:before {
  content: "\ebf9";
  margin-left: -0.875em;
  color: rgb(130, 75, 158);
}
.slds-icon-mp4 .path3:before {
  content: "\ebfa";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-mp4 .path4:before {
  content: "\ebfb";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-overlay .path1:before {
  content: "\ebfc";
  color: rgb(163, 130, 216);
}
.slds-icon-overlay .path2:before {
  content: "\ebfd";
  margin-left: -0.875em;
  color: rgb(140, 98, 206);
}
.slds-icon-overlay .path3:before {
  content: "\ebfe";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-overlay .path4:before {
  content: "\ebff";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-overlay .path5:before {
  content: "\ec00";
  margin-left: -0.875em;
  color: rgb(203, 187, 239);
}
.slds-icon-pack .path1:before {
  content: "\ec01";
  color: rgb(78, 116, 183);
}
.slds-icon-pack .path2:before {
  content: "\ec02";
  margin-left: -0.875em;
  color: rgb(58, 87, 165);
}
.slds-icon-pack .path3:before {
  content: "\ec03";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-pack .path4:before {
  content: "\ec04";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-pages .path1:before {
  content: "\ec05";
  color: rgb(106, 106, 226);
}
.slds-icon-pages .path2:before {
  content: "\ec06";
  margin-left: -0.875em;
  color: rgb(79, 79, 218);
}
.slds-icon-pages .path3:before {
  content: "\ec07";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-pages .path4:before {
  content: "\ec08";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-pdf .path1:before {
  content: "\ec09";
  color: rgb(140, 24, 26);
}
.slds-icon-pdf .path2:before {
  content: "\ec0a";
  margin-left: -0.875em;
  color: rgb(107, 13, 18);
}
.slds-icon-pdf .path3:before {
  content: "\ec0b";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-pdf .path4:before {
  content: "\ec0c";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-ppt .path1:before {
  content: "\ec0d";
  color: rgb(227, 66, 33);
}
.slds-icon-ppt .path2:before {
  content: "\ec0e";
  margin-left: -0.875em;
  color: rgb(220, 49, 25);
}
.slds-icon-ppt .path3:before {
  content: "\ec0f";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-ppt .path4:before {
  content: "\ec10";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-psd .path1:before {
  content: "\ec11";
  color: rgb(12, 119, 198);
}
.slds-icon-psd .path2:before {
  content: "\ec12";
  margin-left: -0.875em;
  color: rgb(9, 89, 183);
}
.slds-icon-psd .path3:before {
  content: "\ec13";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-psd .path4:before {
  content: "\ec14";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-quip_doc .path1:before {
  content: "\ec15";
  color: rgb(41, 182, 242);
}
.slds-icon-quip_doc .path2:before {
  content: "\ec16";
  margin-left: -0.875em;
  color: rgb(41, 135, 200);
}
.slds-icon-quip_doc .path3:before {
  content: "\ec17";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-quip_doc .path4:before {
  content: "\ec18";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-quip_sheet2 .path1:before {
  content: "\ec19";
  color: rgb(48, 200, 90);
}
.slds-icon-quip_sheet2 .path2:before {
  content: "\ec1a";
  margin-left: -0.875em;
  color: rgb(42, 168, 72);
}
.slds-icon-quip_sheet2 .path3:before {
  content: "\ec1b";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-quip_sheet2 .path4:before {
  content: "\ec1c";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-rtf .path1:before {
  content: "\ec1d";
  color: rgb(0, 161, 238);
}
.slds-icon-rtf .path2:before {
  content: "\ec1e";
  margin-left: -0.875em;
  color: rgb(0, 137, 233);
}
.slds-icon-rtf .path3:before {
  content: "\ec1f";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-rtf .path4:before {
  content: "\ec20";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-slide .path1:before {
  content: "\ec21";
  color: rgb(26, 182, 217);
}
.slds-icon-slide .path2:before {
  content: "\ec22";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-slide .path3:before {
  content: "\ec23";
  margin-left: -0.875em;
  color: rgb(19, 163, 207);
}
.slds-icon-slide .path4:before {
  content: "\ec24";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-stypi .path1:before {
  content: "\ec25";
  color: rgb(221, 217, 101);
}
.slds-icon-stypi .path2:before {
  content: "\ec26";
  margin-left: -0.875em;
  color: rgb(193, 188, 69);
}
.slds-icon-stypi .path3:before {
  content: "\ec27";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-stypi .path4:before {
  content: "\ec28";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-stypi .path5:before {
  content: "\ec29";
  margin-left: -0.875em;
  color: rgb(219, 215, 93);
}
.slds-icon-txt .path1:before {
  content: "\ec2a";
  color: rgb(249, 202, 6);
}
.slds-icon-txt .path2:before {
  content: "\ec2b";
  margin-left: -0.875em;
  color: rgb(247, 188, 4);
}
.slds-icon-txt .path3:before {
  content: "\ec2c";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-txt .path4:before {
  content: "\ec2d";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-unknown .path1:before {
  content: "\ec2e";
  color: rgb(129, 153, 175);
}
.slds-icon-unknown .path2:before {
  content: "\ec2f";
  margin-left: -0.875em;
  color: rgb(97, 127, 155);
}
.slds-icon-unknown .path3:before {
  content: "\ec30";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-video2 .path1:before {
  content: "\ec31";
  color: rgb(142, 76, 158);
}
.slds-icon-video2 .path2:before {
  content: "\ec32";
  margin-left: -0.875em;
  color: rgb(113, 57, 133);
}
.slds-icon-video2 .path3:before {
  content: "\ec33";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-video2 .path4:before {
  content: "\ec34";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-visio .path1:before {
  content: "\ec35";
  color: rgb(73, 106, 179);
}
.slds-icon-visio .path2:before {
  content: "\ec36";
  margin-left: -0.875em;
  color: rgb(55, 79, 160);
}
.slds-icon-visio .path3:before {
  content: "\ec37";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-visio .path4:before {
  content: "\ec38";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-webex .path1:before {
  content: "\ec39";
  color: rgb(128, 188, 75);
}
.slds-icon-webex .path2:before {
  content: "\ec3a";
  margin-left: -0.875em;
  color: rgb(96, 171, 56);
}
.slds-icon-webex .path3:before {
  content: "\ec3b";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-webex .path4:before {
  content: "\ec3c";
  margin-left: -0.875em;
  color: rgb(207, 232, 175);
}
.slds-icon-webex .path5:before {
  content: "\ec3d";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-word .path1:before {
  content: "\ec3e";
  color: rgb(20, 169, 218);
}
.slds-icon-word .path2:before {
  content: "\ec3f";
  margin-left: -0.875em;
  color: rgb(15, 147, 208);
}
.slds-icon-word .path3:before {
  content: "\ec40";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-word .path4:before {
  content: "\ec41";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-xml .path1:before {
  content: "\ec42";
  color: rgb(252, 123, 36);
}
.slds-icon-xml .path2:before {
  content: "\ec43";
  margin-left: -0.875em;
  color: rgb(251, 92, 27);
}
.slds-icon-xml .path3:before {
  content: "\ec44";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-xml .path4:before {
  content: "\ec45";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-zip .path1:before {
  content: "\ec46";
  color: rgb(129, 153, 175);
}
.slds-icon-zip .path2:before {
  content: "\ec47";
  margin-left: -0.875em;
  color: rgb(97, 127, 155);
}
.slds-icon-zip .path3:before {
  content: "\ec48";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.slds-icon-zip .path4:before {
  content: "\ec49";
  margin-left: -0.875em;
  color: rgb(255, 255, 255);
}
.slds-icon-custom1:before {
  content: "\ec4a";
}
.slds-icon-custom2:before {
  content: "\ec4b";
}
.slds-icon-custom3:before {
  content: "\ec4c";
}
.slds-icon-custom4:before {
  content: "\ec4d";
}
.slds-icon-custom5:before {
  content: "\ec4e";
}
.slds-icon-custom6:before {
  content: "\ec4f";
}
.slds-icon-custom7:before {
  content: "\ec50";
}
.slds-icon-custom8:before {
  content: "\ec51";
}
.slds-icon-custom9:before {
  content: "\ec52";
}
.slds-icon-custom10:before {
  content: "\ec53";
}
.slds-icon-custom11:before {
  content: "\ec54";
}
.slds-icon-custom12:before {
  content: "\ec55";
}
.slds-icon-custom13:before {
  content: "\ec56";
}
.slds-icon-custom14:before {
  content: "\ec57";
}
.slds-icon-custom15:before {
  content: "\ec58";
}
.slds-icon-custom16:before {
  content: "\ec59";
}
.slds-icon-custom17:before {
  content: "\ec5a";
}
.slds-icon-custom18:before {
  content: "\ec5b";
}
.slds-icon-custom19:before {
  content: "\ec5c";
}
.slds-icon-custom20:before {
  content: "\ec5d";
}
.slds-icon-custom21:before {
  content: "\ec5e";
}
.slds-icon-custom22:before {
  content: "\ec5f";
}
.slds-icon-custom23:before {
  content: "\ec60";
}
.slds-icon-custom24:before {
  content: "\ec61";
}
.slds-icon-custom25:before {
  content: "\ec62";
}
.slds-icon-custom26:before {
  content: "\ec63";
}
.slds-icon-custom27:before {
  content: "\ec64";
}
.slds-icon-custom28:before {
  content: "\ec65";
}
.slds-icon-custom29:before {
  content: "\ec66";
}
.slds-icon-custom30:before {
  content: "\ec67";
}
.slds-icon-custom31:before {
  content: "\ec68";
}
.slds-icon-custom32:before {
  content: "\ec69";
}
.slds-icon-custom33:before {
  content: "\ec6a";
}
.slds-icon-custom34:before {
  content: "\ec6b";
}
.slds-icon-custom35:before {
  content: "\ec6c";
}
.slds-icon-custom36:before {
  content: "\ec6d";
}
.slds-icon-custom37:before {
  content: "\ec6e";
}
.slds-icon-custom38:before {
  content: "\ec6f";
}
.slds-icon-custom39:before {
  content: "\ec70";
}
.slds-icon-custom40:before {
  content: "\ec71";
}
.slds-icon-custom41:before {
  content: "\ec72";
}
.slds-icon-custom42:before {
  content: "\ec73";
}
.slds-icon-custom43:before {
  content: "\ec74";
}
.slds-icon-custom44:before {
  content: "\ec75";
}
.slds-icon-custom45:before {
  content: "\ec76";
}
.slds-icon-custom46:before {
  content: "\ec77";
}
.slds-icon-custom47:before {
  content: "\ec78";
}
.slds-icon-custom48:before {
  content: "\ec79";
}
.slds-icon-custom49:before {
  content: "\ec7a";
}
.slds-icon-custom50:before {
  content: "\ec7b";
}
.slds-icon-custom51:before {
  content: "\ec7c";
}
.slds-icon-custom52:before {
  content: "\ec7d";
}
.slds-icon-custom53:before {
  content: "\ec7e";
}
.slds-icon-custom54:before {
  content: "\ec7f";
}
.slds-icon-custom55:before {
  content: "\ec80";
}
.slds-icon-custom56:before {
  content: "\ec81";
}
.slds-icon-custom57:before {
  content: "\ec82";
}
.slds-icon-custom58:before {
  content: "\ec83";
}
.slds-icon-custom59:before {
  content: "\ec84";
}
.slds-icon-custom60:before {
  content: "\ec85";
}
.slds-icon-custom61:before {
  content: "\ec86";
}
.slds-icon-custom62:before {
  content: "\ec87";
}
.slds-icon-custom63:before {
  content: "\ec88";
}
.slds-icon-custom64:before {
  content: "\ec89";
}
.slds-icon-custom65:before {
  content: "\ec8a";
}
.slds-icon-custom66:before {
  content: "\ec8b";
}
.slds-icon-custom67:before {
  content: "\ec8c";
}
.slds-icon-custom68:before {
  content: "\ec8d";
}
.slds-icon-custom69:before {
  content: "\ec8e";
}
.slds-icon-custom70:before {
  content: "\ec8f";
}
.slds-icon-custom71:before {
  content: "\ec90";
}
.slds-icon-custom72:before {
  content: "\ec91";
}
.slds-icon-custom73:before {
  content: "\ec92";
}
.slds-icon-custom74:before {
  content: "\ec93";
}
.slds-icon-custom75:before {
  content: "\ec94";
}
.slds-icon-custom76:before {
  content: "\ec95";
}
.slds-icon-custom77:before {
  content: "\ec96";
}
.slds-icon-custom78:before {
  content: "\ec97";
}
.slds-icon-custom79:before {
  content: "\ec98";
}
.slds-icon-custom80:before {
  content: "\ec99";
}
.slds-icon-custom81:before {
  content: "\ec9a";
}
.slds-icon-custom82:before {
  content: "\ec9b";
}
.slds-icon-custom83:before {
  content: "\ec9c";
}
.slds-icon-custom84:before {
  content: "\ec9d";
}
.slds-icon-custom85:before {
  content: "\ec9e";
}
.slds-icon-custom86:before {
  content: "\ec9f";
}
.slds-icon-custom87:before {
  content: "\eca0";
}
.slds-icon-custom88:before {
  content: "\eca1";
}
.slds-icon-custom89:before {
  content: "\eca2";
}
.slds-icon-custom90:before {
  content: "\eca3";
}
.slds-icon-custom91:before {
  content: "\eca4";
}
.slds-icon-custom92:before {
  content: "\eca5";
}
.slds-icon-custom93:before {
  content: "\eca6";
}
.slds-icon-custom94:before {
  content: "\eca7";
}
.slds-icon-custom95:before {
  content: "\eca8";
}
.slds-icon-custom96:before {
  content: "\eca9";
}
.slds-icon-custom97:before {
  content: "\ecaa";
}
.slds-icon-custom98:before {
  content: "\ecab";
}
.slds-icon-custom99:before {
  content: "\ecac";
}
.slds-icon-custom100:before {
  content: "\ecad";
}
.slds-icon-custom101:before {
  content: "\ecae";
}
.slds-icon-custom102:before {
  content: "\ecaf";
}
.slds-icon-custom103:before {
  content: "\ecb0";
}
.slds-icon-custom104:before {
  content: "\ecb1";
}
.slds-icon-custom105:before {
  content: "\ecb2";
}
.slds-icon-custom106:before {
  content: "\ecb3";
}
.slds-icon-custom107:before {
  content: "\ecb4";
}
.slds-icon-custom108:before {
  content: "\ecb5";
}
.slds-icon-custom109:before {
  content: "\ecb6";
}
.slds-icon-custom110:before {
  content: "\ecb7";
}
.slds-icon-custom111:before {
  content: "\ecb8";
}
.slds-icon-custom112:before {
  content: "\ecb9";
}
.slds-icon-custom113:before {
  content: "\ecba";
}
.slds-icon-add_contact:before {
  content: "\ea2d";
}
.slds-icon-add_file:before {
  content: "\ea2e";
}
.slds-icon-add_photo_video:before {
  content: "\ea2f";
}
.slds-icon-add_relationship:before {
  content: "\ea30";
}
.slds-icon-announcement3:before {
  content: "\ea31";
}
.slds-icon-apex2:before {
  content: "\ea32";
}
.slds-icon-approval3:before {
  content: "\ea33";
}
.slds-icon-back2:before {
  content: "\ea34";
}
.slds-icon-call3:before {
  content: "\ea35";
}
.slds-icon-canvas2:before {
  content: "\ea36";
}
.slds-icon-change_owner2:before {
  content: "\ea37";
}
.slds-icon-change_record_type2:before {
  content: "\ea38";
}
.slds-icon-check2:before {
  content: "\ea39";
}
.slds-icon-clone:before {
  content: "\ea3a";
}
.slds-icon-close2:before {
  content: "\ea3b";
}
.slds-icon-defer:before {
  content: "\ea3c";
}
.slds-icon-delete2:before {
  content: "\ea3d";
}
.slds-icon-description2:before {
  content: "\ea3e";
}
.slds-icon-dial_in:before {
  content: "\ea3f";
}
.slds-icon-download2:before {
  content: "\ea40";
}
.slds-icon-edit_groups:before {
  content: "\ea41";
}
.slds-icon-edit_relationship:before {
  content: "\ea42";
}
.slds-icon-edit2:before {
  content: "\ea43";
}
.slds-icon-email3:before {
  content: "\ea44";
}
.slds-icon-fallback2:before {
  content: "\ea45";
}
.slds-icon-filter2:before {
  content: "\ea46";
}
.slds-icon-flow3:before {
  content: "\ea47";
}
.slds-icon-follow:before {
  content: "\ea48";
}
.slds-icon-following:before {
  content: "\ea49";
}
.slds-icon-freeze_user:before {
  content: "\ea4a";
}
.slds-icon-goal:before {
  content: "\ea4b";
}
.slds-icon-google_news:before {
  content: "\ea4c";
}
.slds-icon-info2:before {
  content: "\ea4d";
}
.slds-icon-join_group:before {
  content: "\ea4e";
}
.slds-icon-lead_convert:before {
  content: "\ea4f";
}
.slds-icon-leave_group:before {
  content: "\ea50";
}
.slds-icon-log_a_call3:before {
  content: "\ea51";
}
.slds-icon-log_event:before {
  content: "\ea52";
}
.slds-icon-manage_perm_sets:before {
  content: "\ea53";
}
.slds-icon-map:before {
  content: "\ea54";
}
.slds-icon-more:before {
  content: "\ea55";
}
.slds-icon-new_account:before {
  content: "\ea56";
}
.slds-icon-new_campaign:before {
  content: "\ea57";
}
.slds-icon-new_case:before {
  content: "\ea58";
}
.slds-icon-new_child_case:before {
  content: "\ea59";
}
.slds-icon-new_contact:before {
  content: "\ea5a";
}
.slds-icon-new_custom1:before {
  content: "\ea5b";
}
.slds-icon-new_custom2:before {
  content: "\ea5c";
}
.slds-icon-new_custom3:before {
  content: "\ea5d";
}
.slds-icon-new_custom4:before {
  content: "\ea5e";
}
.slds-icon-new_custom5:before {
  content: "\ea5f";
}
.slds-icon-new_custom6:before {
  content: "\ea60";
}
.slds-icon-new_custom7:before {
  content: "\ea61";
}
.slds-icon-new_custom8:before {
  content: "\ea62";
}
.slds-icon-new_custom9:before {
  content: "\ea63";
}
.slds-icon-new_custom10:before {
  content: "\ea64";
}
.slds-icon-new_custom11:before {
  content: "\ea65";
}
.slds-icon-new_custom12:before {
  content: "\ea66";
}
.slds-icon-new_custom13:before {
  content: "\ea67";
}
.slds-icon-new_custom14:before {
  content: "\ea68";
}
.slds-icon-new_custom15:before {
  content: "\ea69";
}
.slds-icon-new_custom16:before {
  content: "\ea6a";
}
.slds-icon-new_custom17:before {
  content: "\ea6b";
}
.slds-icon-new_custom18:before {
  content: "\ea6c";
}
.slds-icon-new_custom19:before {
  content: "\ea6d";
}
.slds-icon-new_custom20:before {
  content: "\ea6e";
}
.slds-icon-new_custom21:before {
  content: "\ea6f";
}
.slds-icon-new_custom22:before {
  content: "\ea70";
}
.slds-icon-new_custom23:before {
  content: "\ea71";
}
.slds-icon-new_custom24:before {
  content: "\ea72";
}
.slds-icon-new_custom25:before {
  content: "\ea73";
}
.slds-icon-new_custom26:before {
  content: "\ea74";
}
.slds-icon-new_custom27:before {
  content: "\ea75";
}
.slds-icon-new_custom28:before {
  content: "\ea76";
}
.slds-icon-new_custom29:before {
  content: "\ea77";
}
.slds-icon-new_custom30:before {
  content: "\ea78";
}
.slds-icon-new_custom31:before {
  content: "\ea79";
}
.slds-icon-new_custom32:before {
  content: "\ea7a";
}
.slds-icon-new_custom33:before {
  content: "\ea7b";
}
.slds-icon-new_custom34:before {
  content: "\ea7c";
}
.slds-icon-new_custom35:before {
  content: "\ea7d";
}
.slds-icon-new_custom36:before {
  content: "\ea7e";
}
.slds-icon-new_custom37:before {
  content: "\ea7f";
}
.slds-icon-new_custom38:before {
  content: "\ea80";
}
.slds-icon-new_custom39:before {
  content: "\ea81";
}
.slds-icon-new_custom40:before {
  content: "\ea82";
}
.slds-icon-new_custom41:before {
  content: "\ea83";
}
.slds-icon-new_custom42:before {
  content: "\ea84";
}
.slds-icon-new_custom43:before {
  content: "\ea85";
}
.slds-icon-new_custom44:before {
  content: "\ea86";
}
.slds-icon-new_custom45:before {
  content: "\ea87";
}
.slds-icon-new_custom46:before {
  content: "\ea88";
}
.slds-icon-new_custom47:before {
  content: "\ea89";
}
.slds-icon-new_custom48:before {
  content: "\ea8a";
}
.slds-icon-new_custom49:before {
  content: "\ea8b";
}
.slds-icon-new_custom50:before {
  content: "\ea8c";
}
.slds-icon-new_custom51:before {
  content: "\ea8d";
}
.slds-icon-new_custom52:before {
  content: "\ea8e";
}
.slds-icon-new_custom53:before {
  content: "\ea8f";
}
.slds-icon-new_custom54:before {
  content: "\ea90";
}
.slds-icon-new_custom55:before {
  content: "\ea91";
}
.slds-icon-new_custom56:before {
  content: "\ea92";
}
.slds-icon-new_custom57:before {
  content: "\ea93";
}
.slds-icon-new_custom58:before {
  content: "\ea94";
}
.slds-icon-new_custom59:before {
  content: "\ea95";
}
.slds-icon-new_custom60:before {
  content: "\ea96";
}
.slds-icon-new_custom61:before {
  content: "\ea97";
}
.slds-icon-new_custom62:before {
  content: "\ea98";
}
.slds-icon-new_custom63:before {
  content: "\ea99";
}
.slds-icon-new_custom64:before {
  content: "\ea9a";
}
.slds-icon-new_custom65:before {
  content: "\ea9b";
}
.slds-icon-new_custom66:before {
  content: "\ea9c";
}
.slds-icon-new_custom67:before {
  content: "\ea9d";
}
.slds-icon-new_custom68:before {
  content: "\ea9e";
}
.slds-icon-new_custom69:before {
  content: "\ea9f";
}
.slds-icon-new_custom70:before {
  content: "\eaa0";
}
.slds-icon-new_custom71:before {
  content: "\eaa1";
}
.slds-icon-new_custom72:before {
  content: "\eaa2";
}
.slds-icon-new_custom73:before {
  content: "\eaa3";
}
.slds-icon-new_custom74:before {
  content: "\eaa4";
}
.slds-icon-new_custom75:before {
  content: "\eaa5";
}
.slds-icon-new_custom76:before {
  content: "\eaa6";
}
.slds-icon-new_custom77:before {
  content: "\eaa7";
}
.slds-icon-new_custom78:before {
  content: "\eaa8";
}
.slds-icon-new_custom79:before {
  content: "\eaa9";
}
.slds-icon-new_custom80:before {
  content: "\eaaa";
}
.slds-icon-new_custom81:before {
  content: "\eaab";
}
.slds-icon-new_custom82:before {
  content: "\eaac";
}
.slds-icon-new_custom83:before {
  content: "\eaad";
}
.slds-icon-new_custom84:before {
  content: "\eaae";
}
.slds-icon-new_custom85:before {
  content: "\eaaf";
}
.slds-icon-new_custom86:before {
  content: "\eab0";
}
.slds-icon-new_custom87:before {
  content: "\eab1";
}
.slds-icon-new_custom88:before {
  content: "\eab2";
}
.slds-icon-new_custom89:before {
  content: "\eab3";
}
.slds-icon-new_custom90:before {
  content: "\eab4";
}
.slds-icon-new_custom91:before {
  content: "\eab5";
}
.slds-icon-new_custom92:before {
  content: "\eab6";
}
.slds-icon-new_custom93:before {
  content: "\eab7";
}
.slds-icon-new_custom94:before {
  content: "\eab8";
}
.slds-icon-new_custom95:before {
  content: "\eab9";
}
.slds-icon-new_custom96:before {
  content: "\eaba";
}
.slds-icon-new_custom97:before {
  content: "\eabb";
}
.slds-icon-new_custom98:before {
  content: "\eabc";
}
.slds-icon-new_custom99:before {
  content: "\eabd";
}
.slds-icon-new_custom100:before {
  content: "\eabe";
}
.slds-icon-new_event:before {
  content: "\eabf";
}
.slds-icon-new_group:before {
  content: "\eac0";
}
.slds-icon-new_lead:before {
  content: "\eac1";
}
.slds-icon-new_note:before {
  content: "\eac2";
}
.slds-icon-new_notebook:before {
  content: "\eac3";
}
.slds-icon-new_opportunity:before {
  content: "\eac4";
}
.slds-icon-new_person_account:before {
  content: "\eac5";
}
.slds-icon-new_task:before {
  content: "\eac6";
}
.slds-icon-new2:before {
  content: "\eac7";
}
.slds-icon-password_unlock:before {
  content: "\eac8";
}
.slds-icon-preview2:before {
  content: "\eac9";
}
.slds-icon-priority2:before {
  content: "\eaca";
}
.slds-icon-question_post_action:before {
  content: "\eacb";
}
.slds-icon-quote:before {
  content: "\eacc";
}
.slds-icon-recall:before {
  content: "\eacd";
}
.slds-icon-record3:before {
  content: "\eace";
}
.slds-icon-refresh2:before {
  content: "\eacf";
}
.slds-icon-reject:before {
  content: "\ead0";
}
.slds-icon-remove_relationship:before {
  content: "\ead1";
}
.slds-icon-remove:before {
  content: "\ead2";
}
.slds-icon-reset_password2:before {
  content: "\ead3";
}
.slds-icon-script:before {
  content: "\ead4";
}
.slds-icon-share_file2:before {
  content: "\ead5";
}
.slds-icon-share_link:before {
  content: "\ead6";
}
.slds-icon-share_poll:before {
  content: "\ead7";
}
.slds-icon-share_post2:before {
  content: "\ead8";
}
.slds-icon-share_thanks:before {
  content: "\ead9";
}
.slds-icon-share2:before {
  content: "\eada";
}
.slds-icon-sort2:before {
  content: "\eadb";
}
.slds-icon-submit_for_approval:before {
  content: "\eadc";
}
.slds-icon-update_status:before {
  content: "\eadd";
}
.slds-icon-update:before {
  content: "\eade";
}
.slds-icon-upload2:before {
  content: "\eadf";
}
.slds-icon-user_activation:before {
  content: "\eae0";
}
.slds-icon-user3:before {
  content: "\eae1";
}
.slds-icon-view_relationship:before {
  content: "\eae2";
}
.slds-icon-web_link:before {
  content: "\eae3";
}
